<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_bonjour._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MesloLGS NF Regular.ttf</string>
		<string>MesloLGS NF Italic.ttf</string>
		<string>MesloLGS NF Bold.ttf</string>
		<string>MesloLGS NF Bold Italic.ttf</string>
		<string>SF-Mono-Regular.otf</string>
		<string>SF-Mono-RegularItalic.otf</string>
		<string>SF-Mono-Bold.otf</string>
		<string>SF-Mono-BoldItalic.otf</string>
		<string>CascadiaMono.ttf</string>
		<string>JetBrainsMonoNerdFontMono-Regular.ttf</string>
		<string>JetBrainsMonoNerdFontMono-Bold.ttf</string>
		<string>JetBrainsMonoNerdFontMono-Italic.ttf</string>
		<string>JetBrainsMonoNerdFontMono-BoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
